<!-- _xml-content_
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<documents>
    <document uid="testUID">
        <field name="title"><![CDATA[{{page.title}}]]></field>
        <field name="subline"><![CDATA[{{page.subline}}]]></field>
        <field name="teaser"><![CDATA[{{ page.excerpt }}]]></field>
        <field name="language_multi_keyword"><![CDATA[{{ site.data.xmlconfig['constants'].language_multi_keyword }}]]></field>
        <field name="layout"><![CDATA[{{page.layout}}]]></field>
        <field name="content_type_multi_keyword"><![CDATA[{{ site.data.xmlconfig['constants'].content_type_multi_keyword }}]]></field>
        <field name="mime_type_multi_keyword"><![CDATA[{{ site.data.xmlconfig['constants'].mime_type_multi_keyword }}]]></field>
        <field name="category_multi_keyword"><![CDATA[
            {%- if page.categories -%}
                {%- for category in page.categories -%}
                {%- if forloop.first -%}[
                {%- endif -%} 
                {{ category }} 
                    {%- if forloop.index != forloop.length -%}
                    ,
                    {%- else -%}
                    ]
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
            ]]></field>
        <field name="tag_multi_keyword"><![CDATA[
            {%- if page.tags -%}
                {%- for tag in page.categories -%}
                {%- if forloop.first -%}[
                {%- endif -%} 
                {{ tag }} 
                    {%- if forloop.index != forloop.length -%}
                    ,
                    {%- else -%}
                    ]
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
            ]]></field>
        <field name="date_date"><![CDATA[{{page.date | date_to_xmlschema}}]]></field>
        <field name="change_date"><![CDATA[
            {%- if page.modified_date -%} 
            {{page.modified_date | date_to_xmlschema}}
            {%- else -%}
            {{page.date | date_to_xmlschema}}
            {%- endif -%}
            ]]></field>
        <field name="author_first_name"><![CDATA[{{site.data.authors[page.author].first_name}}]]></field>
        <field name="author_last_name"><![CDATA[{{site.data.authors[page.author].last_name}}]]></field>
        <field name="author_picture_stored_only"><![CDATA[{{ site.data.authors[page.author].picture_url | prepend: site.url }}]]></field>
        <field name="headlines"><![CDATA[{{ page.title }}]]></field>
        <field name="display_content"><![CDATA[{% include display-content.html %}]]></field>
        <field name="content"><![CDATA[{{ content }}]]></field>
    </document>
</documents>
_xml-content_ -->
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
{% include header.html %}
<section>
{{content}}
</section>
{% include footer.html %}
  </body>

</html>
